<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleDatabaseConnect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SimpleDatabaseConnect.Properties.Settings>
            <setting name="conString" serializeAs="String">
                <value>server=.\SQLEXPRESS;database=*******;uid=*******;Password=*********;</value>
            </setting>
            <setting name="SQL" serializeAs="String">
                <value />
            </setting>
            <setting name="Provider" serializeAs="String">
                <value>SqlServer</value>
            </setting>
        </SimpleDatabaseConnect.Properties.Settings>
    </userSettings>
</configuration>